body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.8); /* Transparencia aplicada aquí */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ajusta el tamaño según prefieras */
    padding: 40px;
}

.avatar {
    height: 100px;
    width: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
}

.login-form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-options a {
    color: #333;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #5f27cd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #341f97;
}

/* Estilos adicionales para los placeholders y la animación de enfoque */
.form-group input::placeholder {
    color: #aaa;
}

.form-group input:focus {
    outline: none;
    background: rgba(255, 255, 255, 1);
}
